@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 100% !important;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

#root {
  width: 100% !important;
  height: 100% !important;
}

@layer components {
  /* .home-search-primary {
    @apply transition-all duration-200 outline outline-offset-0 outline-2 outline-transparent flex items-center justify-between ease-in-out focus-within:outline-primary-500 overflow-hidden px-1;
  } */
}